body{
    margin: 0 auto;
    display: grid;
    justify-items: center;
    background-color: #B9D9EB;
}

header{
    display: flexbox;
    align-items: center;
}

main{
    display: grid;
    /* justify-content: space-evenly; */
    /* align-content: stretch; */
    /* width: 1000px; */
    /* align-items: end; */
    justify-items: center;
}

img{
    width: 300px;
    height: 300px;
}

.paragrafo{
    width: 500px;
}

.rodape{
    display: grid;
    justify-items: center;
}